<%= render partial:"shared/main_header" %>

<%= render partial:"movie_header" %>

<div class = "main-contents movie-contents-background">

  <%= render partial:"shared/movie_lists", locals: {movies: @movies} %>
  
</div>


