<%= render partial:"shared/header" %>

<div class = "movie-contents movie-contents-background">
  <div class = "movie-contents-title">
    投稿一覧
  </div>
  <%= render partial:"shared/movie_lists", locals: {movies: @movies} %>
</div>

