.header-title,.chat-room, .new-movie, 
.user-nickname,.logout, .login, .sign-up{
  text-decoration: none;
}
.main-header{
  width: 80%;
  margin: 0 auto;
  background-color: white;
}
.main-header-wrap{
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 8px 15px;
  background: url("/images/film.png") repeat-x;
  background-size: contain; 
}

.header-left{
  display: flex;
  justify-content: flex-start;
  list-style: none;
  width: 30%;
  align-items: center;
  
}

.chat-room, .new-movie{
  color: black;
  background-color: white;
  padding: 5px 15px;
  border: 1px solid black;
  margin-right: 10px;
}

.chat-room:hover, .new-movie:hover{
  background-color: rgb(255, 236, 129);
}

.header-center{
  width: 10%;
  height: 100%;
  text-align: center;
  background-color: white;
}
.header-title{
  color: black;
  font-weight: 800;
  text-shadow: 2px 3px 2px cadetblue;
  font-size: 25px;
}

.header-right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  width: 30%;
}
.user-nickname,.logout, .login, .sign-up{
  padding: 5px 10px;
  color: white;
  background-color: rgb(40, 95, 197);
  margin-left: 10px;
}
.user-nickname:hover, .logout:hover, .login:hover, .sign-up:hover{
  background-color: rgb(95, 168, 252);
}