/*background-color*/
.movie-contents-background{
  background-color: wheat;
}
.user-contents-background{
  background-color: wheat;
}
.room-contents-background{
  background-color: wheat;
}
.chat-contents-background{
  background-color: wheat;
}

/*一覧表示の設定*/
.main-contents{
  position: relative;
  width: 80%;
  height: calc(100vh - 100px);
  overflow: scroll;
  margin: 0 auto;
  padding: 0px 40px;
}
.curtain{
  position: absolute;
  z-index: 100;
  background-image: url("/images/background.png");
  height: 100vh;
  width: 100vw;
  background-position: center center;
  background-size: cover; 
  cursor: pointer;
}
.curtain-text{
  font-family: serif;
  font-style: italic;
  margin: auto 0px;
  color: white;
  text-align: center;
  font-size: 50px;
  margin-top: 300px;
}
.curtain-click{
  animation: flash 1.5s linear infinite;
  
  font-size: 20px;
  color: white;
  text-align: center;
  margin-top: 200px;
}
@keyframes flash {
  0%,100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}
.movie-lists{
  display: flex;
  flex-wrap: wrap;
}

.movie-list{
  background-color: rgb(247, 238, 224);
  margin: 10px;
  padding: 5px;
  width: calc((100% - 100px)/5);
  height: calc((100vh - 100px)/1.5);
  list-style: none;
  border: 1px solid black;
  overflow: scroll;
}
.movie-list-link{
  text-decoration: none;
}
.movie-title{
  color: black;
  text-align: center;
  font-size: 18px;
  padding: 5px 15px;
}
.movie-img {
  width: 100%;
}
.movie-list-item{
  font-size: 12px;
}
.movie-evaluation{
  color: rgb(182, 182, 0);
  padding: 5px 10px;
}
.movie-genre{
  color: rgb(168, 110, 206);
  padding: 5px 10px;
}
.movie-thought{
  color: black;
  padding: 5px 10px;
}
.movie-thought-text{
  border: 1px solid rgb(168, 168, 168);
  border-radius: 5px;
  background-color: white;
  padding: 5px;
}
.movie-date{
  color: rgb(109, 108, 108);
  padding: 5px 10px;
  font-size: 12px;
  text-align: right;
}

