.background-img {
  background-image: url("/images/background.png");
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-size: cover; 
}
.footer{
  text-align: center;
  font-size: 15px;
  background-color: wheat;
  padding: 5px;
}

.hidden{
  display: none;
}