/**movie一覧**/
.movie_header{
  background-color: rgb(245, 180, 180);
}
/**user一覧**/
.user_header{
  background-color: rgb(188, 228, 255);
}
/**room一覧**/
.room_header{
  background-color: rgb(254, 255, 188);
}
.new-room{
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 5px 15px;
  border: 1px solid black;
  margin-right: 10px;
}
/**room一覧**/
.chat_header{
  background-color: rgb(221, 223, 121);
}
/**詳細内容**/
.show_header{
  background-color: rgb(159, 236, 159);
}

/*共通のサブヘッダー*/
.sub-header{
  width: 80%;
  height: 50px;
  margin: 0 auto;
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sub-header-left{
  width: 30%;
}
.sub-header-center{
  width: 30%;
  text-align: center;
}
.sub-header-title{
  font-size: 25px;
  padding: 10px;
}

.sub-header-right{
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search-text:hover, .movie-count-text:hover{
  background-color: rgb(255, 236, 129);
}
.release-pulldown:hover{
  color: rgb(180, 180, 180);
  cursor: pointer;
}

/*検索欄*/
.search-wrap{
  position: relative;
}
.search-text{
  width: 100px;
  text-align: center;
  background-color: white;
  border: 1px solid black;
  margin-left: 10px;
}
.search-form{
  width: 260px;
  background-color: rgb(255, 138, 95);
  padding: 15px;
  position: absolute;
  left: -140px;
  border-radius: 10px;
}
.search-title{
  margin: 5px 0px;
}
.search-input{
  padding: 5px 15px;
  background-color: white;
  border: 1.5px solid black;
  border-radius: 5px;
  margin: 5px 0px;
}
.search-genre{
  width: 120px;
  height: 30px;
  background-color: rgb(218, 218, 218);
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px 0px;
}
.search-evaluation, .search-date{
  height: 30px;
  background-color: rgb(218, 218, 218);
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 0px 5px 10px;
  margin: 5px 0px;
}
.search-evaluation-left{
  margin-left: 30px;
}
.search-submit{
  margin: 5px;
  color: white;
  width: 100px;
  height: 30px;
  font-weight: bolder;
  background-color: rgb(78, 78, 226);
  border-radius: 10px;
}
.search-clear{
  margin: 5px;
  width: 100px;
  height: 30px;
  font-weight: bolder;
  background-color: rgb(221, 221, 221);
  border-radius: 10px;
}

/*合計数*/
.movie-count-wrap{
  position: relative;
}
.movie-count-text{
  width: 100px;
  text-align: center;
  background-color: white;
  border: 1px solid black;
}
.movie-count-box{
  background-color: rgb(105, 47, 122);
  position: absolute;
  padding: 15px;
  border-radius: 10px;
  right: 0;
  text-align: right;
}
.select-year-pull{
  height: 30px;
  background-color: rgb(218, 218, 218);
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px 0px;
}
.movie-count-data{
  display: none;
}
.select-year-title{
  text-align: left;
  font-size: 25px;
  font-weight: bolder;
  color: white;
}
.movie-count-table{
  width: 700px;
  border-collapse:collapse;
  writing-mode: vertical-lr;
}
.movie-count-month{
  border: 1px solid black;
  background-color: thistle;
  writing-mode: horizontal-tb;
  text-align: center;
}
.movie-count-number{
  border: 1px solid black;
  padding: 5px;
  writing-mode: horizontal-tb;
  text-align: center;
  background-color: rgb(247, 238, 224);
}
.movie-count-chart-box{
  margin: 10px 0px;
  padding: 10px;
  background-color: white;
  border-radius: 20px;
}
.movie-count-chart{
  border: 1px solid black;
}

#search-pull-down,#count-box{
  display: none;
}