<%= render partial:"shared/main_header" %>
<%= render partial:"user_header" %>

<div class = "movie-contents user-contents-background">

  <%= render partial:"shared/movie_lists" , locals: {movies: @movies} %>
  
</div>