<div class="sub-header chat_header">
  <div class="sub-header-left">
    <div class = "">
      
    </div>
  </div>

  <div class="sub-header-center">
    <div class = "sub-header-title">
      <%= @room.room_name %>
    </div>
  </div>
  
  <div class="sub-header-right">

  </div>
  
</div>