.movie-index{
  display: flex;
  height: calc(100vh - 200px);
  width: 100vw;
}
.side-bar{
  width: 300px;
  background-color: tomato;
}
.movie-contents{
  background-color: wheat;
  width: calc(100vw - 300px);
  overflow: scroll;
}
.movie-lists{
  display: flex;
  flex-wrap: wrap;
  
}

.movie-list{
  border: 1px solid black;
  width: calc((100vw - 300px - (16 * 10px))/6);
  height: calc((100vw - 300px - (16 * 10px))/3);
  list-style: none;
  margin: 10px;
  padding: 5px;
  overflow: scroll;
}
.movie-img {
  width: calc((100vw - 300px - (16 * (10px + 5px)))/6);

}
