<div class="sub-header room_header">
  <div class="sub-header-left">
    <div class = "">
      <%=link_to "ルーム作成", new_room_path, class: "new-room"%>
    </div>
  </div>

  <div class="sub-header-center">
    <div class = "sub-header-title">
      ルーム一覧
    </div>
  </div>
  
  <div class="sub-header-right">
    <div class = "search-wrap">
      <div class="search-text" id="search-button">検索欄</div>
      <div class = "search-form hidden" id="search-pull-down" >
          
      </div>
    </div>
  </div>
  
</div>